

body { 
    color: black;
    background-color: plum;
    font: Cabin Sketch;
    text-align: center;
    border: 3px dotted #ffffff;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    border: solid 2px #8e44ad;
    display: flex;
    justify-content: center;
    }
}

h2 {
    font-size: 36px;
    font-color: #d35400;
}

p {
    font-size: 16px;
}
